<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head',{estilos: 'cart_styles' , responsive: 'cart-responsive' , titulo:'cart' }) %>

    <body>
        <%- include('../partials/header',{includeSearchBar: false}) %>
            <main>
                <section class="home"></section>
                <% if (productosCart.length> 0) { %>
                    <table>
                        <thead>
                            <tr>
                                <th>Imagen del producto</th>
                                <th>Nombre del producto</th>
                                <th>Cantidad</th>
                                <th>Precio unitario</th>
                                <th>Subtotal</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% productosCart.forEach(producto=> { %>
                                <tr>
                                    <td><img src="<%= JSON.parse(producto.image).url %>" alt="<%= producto.name %>"
                                            class="tabla-cart-img">
                                    </td>
                                    <td>
                                        <%= producto.name %>
                                    </td>
                                    <td>
                                        <%= carrito.find(elemento=> elemento.id == producto.uuid).cant %>
                                    </td>
                                    <td>$<%= producto.price %>
                                    </td>
                                    <td>$<%= (carrito.find(elemento=> elemento.id == producto.uuid).cant *
                                            producto.price).toFixed(2)
                                            %>
                                    </td>
                                    <td>
                                        <div class="acciones-tabla-cart">
                                            <button
                                                onclick="agregarMasItemsCarrito(this,'<%= producto.uuid %>')">+</button>
                                            <button onclick="quitarItemsCarrito(this,'<%= producto.uuid %>')">-</button>
                                        </div>
                                        <button onclick="eliminarItemCarrito(this,'<%= producto.uuid %>')"
                                            class="eliminar-item-tabla-cart">Eliminar</button>
                                    </td>
                                </tr>
                                <% }); %>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="4" align="right">Total</td>
                                <td id="tabla-total">$<%= productosCart.map(elementP=> (carrito.find(elementC=>
                                        elementC.id ==
                                        elementP.uuid).cant *
                                        elementP.price)).reduce((acum, cantidad)=> acum += cantidad,0).toFixed(2) %>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                    <a href=""><button type="button">Continuar</button></a>
                    <% }else{ %>
                        <div class="empty-cart">
                            <h2 class="msj-no-tabla">No hay items en su carrito aún</h2>
                            <img src="/images/extra/empty-cart.png" alt="empty-cart">
                        </div>
                        <% } %>
            </main>
            <%- include('../partials/footer') %>
    </body>

</html>