<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', {estilos: 'productAdd' , responsive: 'productAdd-responsive' , titulo: 'Añadir producto'
    }) %>

    <body>
        <%- include('../partials/header',{includeSearchBar: false}) %>
            <main>
                
                <form action="/products/create" class="form-product-add" method="POST" enctype="multipart/form-data">
                    <div class="caja-superior">
                        <input type="text" placeholder="Nombre de producto*" required name="name"
                            value="<%= locals.oldBody?.name %>"
                            class="<%= locals.errors?.name ? 'is-invalid' : null %>">
                        <% if (locals.errors?.name) { %>
                            <p class="error">
                                <%= errors.name.msg %>
                            </p>
                            <% } %>
                                <label for="embarcacion">Selecciona una embarcación:</label>
                                <select id="embarcacion" name="category"
                                    class="<%= locals.errors?.category ? 'is-invalid' : null %>">
                                    <option value="">Elegí una categoría</option>
                                    <% categorias.forEach(categoria=> { %>
                                        <option value="<%= categoria.id %>" <%=locals.oldBody?.category==categoria.id
                                            ? 'selected' : null %>
                                            >
                                            <%= categoria.name %>
                                        </option>
                                        <% }) %>
                                </select>
                                <% if (locals.errors?.category) { %>
                                    <p class="error">
                                        <%= errors.category.msg %>
                                    </p>
                                    <% } %>
                                        <input type="text" placeholder="Precio" required name="price"
                                            value="<%= locals.oldBody?.price %>"
                                            class="<%= locals.errors?.price ? 'is-invalid' : null %>">
                                        <% if (locals.errors?.price) { %>
                                            <p class="error">
                                                <%= errors.price.msg %>
                                            </p>
                                            <% } %>

                                                <input type="text" placeholder="Año" required name="year"
                                                    value="<%= locals.oldBody?.year %>"
                                                    class="<%= locals.errors?.year ? 'is-invalid' : null %>">
                                                <% if (locals.errors?.year) { %>
                                                    <p class="error">
                                                        <%= errors.year.msg %>
                                                    </p>
                                                    <% } %>

                    </div>

                    <div class="radios">
                        <label for="state_embarcation">Estado de la embarcacion:</label>
                        <% let estado_embarcacion=['Nuevo', 'Usado' ] %>
                            <% estado_embarcacion.forEach(estado=> { %>
                                <label for="<%= estado %>" class="radio_btn"><input type="radio"
                                        name="state_embarcation" id="<%= estado %>" value="<%= estado %>"
                                        <%=(estado=='Nuevo' ) ? 'required' : null %>
                                    <%=locals.oldBody && (estado===oldBody.state_embarcation) ? 'checked' : null%>>
                                        <%= estado %>
                                </label>
                                <% }) %>
                                    <% if (locals.errors?.state_embarcation) { %>
                                        <p class="error">
                                            <%= errors.state_embarcation.msg %>
                                        </p>
                                        <% } %>


                    </div>
                    <textarea name="description" rows="10" cols="50" placeholder="Agrega una descripción..."
                        id="textarea_text" required><%= locals.oldBody?.description %></textarea>
                    <% if (locals.errors?.description) { %>
                        <p class="error">
                            <%= errors.description.msg %>
                        </p>
                        <% } %>

                            <input type="file" accept="image/png, image/jpg, image/jpeg, image/gif" name="image"
                                required>
                            <% if (locals.errors?.image) { %>
                                <p class="error">
                                    <%= errors.image.msg %>
                                </p>
                                <% } %>

                                    <button type="submit">AGREGAR PRODUCTO</button>
                </form>
            </main>
            <%- include('../partials/footer') %>
    </body>

</html>