<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', {estilos: 'productDetail_styles' , responsive: 'productDetail-responsive' ,
    titulo: 'Detalle de producto' }) %>

    <body>
        <%- include('../partials/header',{includeSearchBar: false}) %>
            <main>
                <section class="caja_contenedora">
                    <div class="foto_producto">
                        <img src="<%= JSON.parse(selectedProduct.image).url %>">
                    </div>
                    <div class="producto">
                        <p class="nombre_producto">
                            <%= selectedProduct.name %>
                        </p>
                        <p class="precio_producto">$<%= selectedProduct.price %>
                        </p>

                        <button type="button" onclick="agregarItemCarrito('<%= selectedProduct.uuid %>')"
                            id="primeraCompra">Comprar</button>
                        <div class="contenedor-botones" hidden>
                            <button type="button"
                                onclick="quitarItemsCarrito(null,'<%= selectedProduct.uuid %>')">-</button>
                            <p id="cantidad-actual">1</p>
                            <button type="button"
                                onclick="agregarMasItemsCarrito(null,'<%= selectedProduct.uuid %>')">+</button>
                        </div>

                        <button type="button"><a href="<%= selectedProduct.uuid %>/delete">Eliminar</a></button>
                        <button type="button"><a href="<%= selectedProduct.uuid %>/edit">Actualizar</a></button>
                    </div>
                </section>
                <div class="descripcionProducto">
                    <p>
                        <%= selectedProduct.description %>
                    </p>
                    <p>Año: <%= selectedProduct.year %>
                    </p>
                    <p>Tipo de embarcacion: <%= selectedProduct.tiene_una_category.name %>
                    </p>
                    <p>Condicion: <%= selectedProduct.state_embarcation %>
                    </p>
                </div>
            </main>
            <%- include("../partials/footer") %>
    </body>

</html>