<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head',{estilos: 'index-styles' , responsive: 'index-responsive' , titulo: 'Home' }) %>

    <body>
        <%- include('./partials/header') %>
            <main>
                    <div class="conteiner-main">
                        <% allProducts.forEach(articulo=> { %>
                            <article class="articulo">
                                <div>
                                    <img src="<%= articulo.image.url %>" alt="cookies">
                                </div>
                                <div class="detalle">
                                    <div class="title-producto">
                                        <p>
                                            <%= articulo.name %>
                                        </p>
                                    </div>
                                    <div class="modelo">
                                        <p>
                                            <%= articulo.category.includes('_') ? articulo.category.replace(/_/g,' ') : articulo.category %>
                                        </p>
                                    </div>
                                    <div class="precio">
                                        <p>$<%= articulo.price %>
                                        </p>
                                    </div>
                                    <div class="buy-button">
                                        <a href="/products/detail/<%= articulo.id %>"><button>DETALLES</button></a>
                                    </div>
                                </div>
                            </article>
                            <% }) %>
                    </div>
                <div class="see-more-button">
                    <div class="see-more-button">
                        <a href="/products">
                            <button>
                                VER MÁS
                            </button>
                        </a>
                    </div>
                </div>
            </main>
            <%- include('./partials/footer') %>
    </body>

</html>