<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head',{estilos: 'index-styles', responsive: 'index-responsive' , titulo: 'Home' }) %>

    <body>
        <%- include('./partials/header',{includeSearchBar: true}) %>
            <main>
                <section class="welcome">
                    <h2>¡BIENVENIDOS A SEATECH!</h2>
                </section>
                <section class="titulo-h3">
                        <h3>PRODUCTOS DESTACADOS</h3>
                </section>
                <section class="conteiner-main">
                    <% for( let index=0; index < 3; index++ ) { %>
                        <article class="articulo-box">
                                <img src="<%= JSON.parse(allProducts[index].image).url %>" alt="image_boat">
                                        <p class="title-producto">
                                            <%= allProducts[index].name %>
                                        </p>
                                        <p class="modelo">
                                            <%= allProducts[index].tiene_una_category.name %>
                                        </p>
                                        <p class="precio">
                                            $<%= allProducts[index].price %>
                                        </p>
                                        <a href="/products/detail/<%= allProducts[index].uuid %>" class="buy-button">
                                            <button>
                                                DETALLES
                                            </button>
                                        </a>
                        </article>
                        <% } %>
                </section>
                <section class="see-more-button">
                    <main class="see-more-button">
                        <a href="/products">
                            <button>
                                VER MÁS
                            </button>
                        </a>
                    </main>
                </section>
            </main>
            <%- include('./partials/footer') %>
    </body>

</html>