<header>
    <div class="contenedor">
        <a href="/"><img src="/images/logo/logo-seatech-2.png" alt="logo-seatech" class="logo-img"></a>
        <% if (includeSearchBar) { %>
            <form method="GET" class="search-bar">
                <input type="text" inputmode="search" placeholder="Buscar producto..." name="search">
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
            <% } %>
                <div class="menu-carrito">
                    <button type="submit" onclick="openNav();"><i class="fa-solid fa-bars"></i></button>
                    <a href="/products/cart" class="cart-icon-mobile cart-click"><button><i
                                class="fa-solid fa-cart-shopping"></i>
                            <div class="cart-badge-mobile">0</div>
                        </button></a>
                </div>
                <nav class="nav-bar-default">
                    <ul>
                        <li><a href="/products/cart" class="cart-click"><i class="fa-solid fa-cart-shopping"></i>CARRITO
                                <div class="cart-badge-desktop">0</div>
                            </a></li>
                        <% if (locals?.userLogued) { %>
                            <li><a href="/products/add"><i class="fa-solid fa-shop"></i>VENDER</a></li>
                            <li class="submenu" onclick="toggleSubMenu(this)">
                                <a href="#">
                                    <img src="<%= JSON.parse(locals.userLogued.image).url %>" alt="Perfil"
                                        class="profile-image">
                                    <i class="fa-solid fa-square-caret-down"></i>
                                </a>
                                <ul class="submenu-items">
                                    <li><a href="/user/profile/<%= locals.userLogued.uuid %>"><i
                                                class="fa-solid fa-user"></i>MI PERFIL</a></li>
                                    <li><a href="#"><i class="fa-solid fa-bag-shopping"></i>MIS COMPRAS</a></li>
                                    <li><a href="#"><i class="fa-solid fa-money-bill-1-wave"></i>MIS VENTAS</a></li>
                                    <li><a href="/user/logout" class="close-sesion"><i
                                                class="fa-solid fa-person-walking-arrow-right"></i>CERRAR SESIÓN</a>
                                    </li>
                                </ul>
                            </li>
                            <% }else{ %>
                                <li><a href="/user/login"><i class="fa-solid fa-arrow-right-to-bracket"></i>LOGIN</a>
                                </li>
                                <li><a href="/user/register"><i class="fa-solid fa-address-card"></i>REGISTER</a></li>
                                <% } %>

                    </ul>
                </nav>
    </div>
</header>
<nav class="nav-bar-mobile">
    <ul>
        <li><a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a></li>
        <% if (locals?.userLogued) { %>
            <li class="submenu" onclick="toggleSubMenu(this)">
                <a href="#">
                    <img src="<%= JSON.parse(locals.userLogued.image).url %>" alt="Perfil" class="profile-image">
                    <%= `${locals.userLogued.first_name} ${locals.userLogued.last_name}` %>
                </a>
                <ul class="submenu-items">
                    <li><a href="/user/profile/<%= locals.userLogued.uuid %>"><i class="fa-solid fa-user"></i>MI
                            PERFIL</a></li>
                    <li><a href="#"><i class="fa-solid fa-bag-shopping"></i>MIS COMPRAS</a></li>
                    <li><a href="#"><i class="fa-solid fa-money-bill-1-wave"></i>MIS VENTAS</a></li>
                    <li><a href="/user/logout" class="close-sesion"><i
                                class="fa-solid fa-person-walking-arrow-right"></i>CERRAR SESIÓN</a>
                    </li>
                </ul>
            </li>
            <li><a href="/products/add"><i class="fa-solid fa-shop"></i>VENDER</a></li>
            <% }else{ %>
                <li><a href="/user/login"><i class="fa-solid fa-arrow-right-to-bracket"></i>LOGIN</a></li>
                <li><a href="/user/register"><i class="fa-solid fa-address-card"></i>REGISTER</a></li>
                <% } %>
                    <li><a href="/products/cart" class="cart-mobile cart-click"><i
                                class="fa-solid fa-cart-shopping"></i>CARRITO
                            <div class="cart-badge-mobile-list">0</div>
                        </a></li>

    </ul>
</nav>