<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head',{estilos: 'profile' , responsive: 'profile-responsive' , titulo: 'Perfil de Usuario' })
    %>

    <body>

        <%- include('../partials/header',{includeSearchBar: false}) %>
            <main>

                <div class="profile-container">
                    <div class="profile-name">
                        <%= `${user.firstName} ${user.lastName}` %>
                    </div>
                    <img class="profile-image-view" src="<%= user.image.url %>" alt="Imagen de perfil">
                    <div class="profile-email">
                        <%= user.email %>
                    </div>
                    <a href="editar_perfil.html" class="edit-profile-button">Editar Perfil</a>
                </div>

            </main>
            <%- include('../partials/footer') %>

    </body>

</html>