<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head',{estilos: 'listaProductos' , responsive: 'listaProductos_responsive' ,
    titulo: 'Productos' }) %>

    <body>
        <%- include('../partials/header',{includeSearchBar: false}) %>
            <main>
                <div class="conteiner-main">
                    <article class="articulo-box-2">
                        <div class="art-div-box">
                            <div>
                                <img src="<%= selectedProduct.image.url %>" alt="barco">
                            </div>
                        </div>
                        <div class="detalle">
                            <div class="title-producto">
                                <p>
                                    <%= selectedProduct.name %>
                                </p>
                            </div>
                            <div class="modelo">
                                <p>
                                    <%= selectedProduct.year %>
                                </p>
                            </div>
                            <div class="precio">
                                <p>
                                    <%= selectedProduct.price %>
                                </p>
                            </div>
                            <div class="buy-button">
                                <div class="title-producto">
                                    <p>¿ ESTAS SEGURO ?</p>
                                </div>
                                <br />
                                <form action="/products/detail/<%= selectedProduct.id %>/destroy?_method=DELETE"
                                    method="post">
                                    <button type="submit">BORRAR</button>
                                </form>
                                <br />
                                <a href="/products/detail/<%= selectedProduct.id %>">
                                    <button>CANCELAR</button>
                                </a>
                            </div>
                        </div>
                    </article>
                </div>
            </main>
            <%- include('../partials/footer') %>
    </body>

</html>