<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', {estilos: 'productAdd' , responsive: 'productAdd-responsive' , titulo: 'Añadir producto'
    }) %>

    <body>
        <%- include('../partials/header') %>
            <main>
                <div class="info">
                    <p>Por favor introduzca su nombre, información de contacto y datos de su embarcacion en el siguiente
                        formulario.</p>
                    <p>Adjuntá las fotos de tu embarcación en la mayor calidad y tamaño posible haciendo click en el
                        botón «seleccionar archivo».</p>
                    <p>Las casillas marcadas con * son obligatorias</p>
                </div>
                <form action="/products/detail/<%= productoAactualizar.id %>/update?_method=PUT"
                    class="form-product-add" method="POST" enctype="multipart/form-data">
                    <div class="caja-superior">
                        <input type="text" placeholder="Nombre de producto*" required name="name"
                            value="<%= productoAactualizar.name %>">
                        <label for="embarcacion">Selecciona una embarcación:</label>
                        <select id="embarcacion" name="category">
                            <%categorias.forEach(categoria=> { %>
                                <option value="<%= categoria %>" <% if (categoria==productoAactualizar.category) { %>
                                    <%= "selected" %>
                                        <% } %>
                                            ><%= categoria %>
                                </option>
                                <% }) %>

                        </select>
                        <input type="text" placeholder="Precio" required name="price"
                            value="<%= productoAactualizar.price %>">
                        <input type="text" placeholder="Año" required name="year"
                            value="<%= productoAactualizar.year%>">



                    </div>

                    <div class="radios">
                        <label for="state_embarcation">Estado de la embarcacion:</label>
                        <label for="nuevo" class="radio_btn"><input type="radio" name="state_embarcation" id="nuevo"
                                value="Nuevo" required <% if (productoAactualizar.state_embarcation=="Nuevo" ) { %>
                            <%= "checked" %>
                                <% } %>
                                    >Nuevo
                        </label>
                        <label for="usado" class="radio_btn"><input type="radio" name="state_embarcation" id="usado"
                                value="Usado" <% if (productoAactualizar.state_embarcation=="Usado" ) { %>
                            <%= "checked" %>
                                <% } %>
                                    >Usado
                        </label>

                    </div>
                    <textarea name="description" rows="10" cols="50" placeholder="Agrega una descripción..."
                        id="textarea_text"><%= productoAactualizar.description %></textarea>

                    <input type="file" accept=".png, .jpg" name="image">

                    <button type="submit">MODIFICAR PRODUCTO</button>
                </form>
            </main>
            <%- include('../partials/footer') %>
    </body>

</html>