<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', {estilos: 'productDetail_styles' , responsive: 'productDetail-responsive' ,
    titulo: 'Detalle de producto' }) %>

    <body>
        <%- include('../partials/header') %>
            <main>
                <section class="caja_contenedora">
                    <div class="foto_producto">
                        <img src="/images/productos/<%= selectedProduct.image %>">
                    </div>
                    <div class="producto">
                        <p class="nombre_producto"><%= selectedProduct.name %></p>
                        <p class="precio_producto">$<%= selectedProduct.price %></p>
                        <button type="submit"><a href="#">Comprar</a></button>
                        <button type="submit"><a href="cart">Agregar al carrito</a></button>
                        <button type="submit"><a href="<%= selectedProduct.id %>/delete">Eliminar</a></button>
                        <button type="submit"><a href="detail/<%= selectedProduct.id %>/edit">Actualizar</a></button>
                    </div>
                </section>
                <div class="descripcionProducto">
                    <p><%= selectedProduct.description %></p>
                    <p>Año: <%= selectedProduct.year %></p>
                    <p>Tipo de embarcacion: <%= selectedProduct.category %></p>
                    <p>Condicion: <%= selectedProduct.state_embarcation %></p>
                </div>
            </main>
            <%- include('../partials/footer') %>
    </body>

</html>