<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', {estilos: 'productDetail_styles' , responsive: 'productDetail-responsive' ,
    titulo: 'Detalle de producto' }) %>

    <body>
        <%- include('../partials/header') %>
            <main>
                <section class="caja_contenedora">
                    <div class="carrousel">
                        <img src="/images/productos/<%= selectedProduct.image %>">
                    </div>
                    <div class="producto">
                        <p><%= selectedProduct.name %></p>
                        <p>$<%= selectedProduct.price %></p>
                        <button type="submit"><a href="#">Comprar</a></button>
                        <button type="submit"><a href="cart">Agregar al carrito</a></button>
                        <button type="submit"><a href="<%= selectedProduct.id %>/delete">Eliminar</a></button>
                        <button type="submit"><a href="detail/<%= selectedProduct.id %>/edit">Actualizar</a></button>
                    </div>
                </section>
                <div class="descripcionProducto">
                    <%= selectedProduct.description %>
                </div>
            </main>
            <%- include('../partials/footer') %>
    </body>

</html>