<!DOCTYPE html>
<html lang="en">

<%-include ('../partials/head',{estilos:"login",responsive:"login-responsive",titulo:"login"}) %>

    <body>
        <%- include('../partials/header',{includeSearchBar: false}) %>
            <main>
                <section class="home"></section>
                <div class="contenedor-principal">
                    <div class="titulo-del-form">
                        <h3>Accede A tu Cuenta</h3>
                    </div>

                    <form action="/user/login" method="post" class="contenedor-form" id="loginForm">

                        <input class="controls" type="text" name="email" placeholder="Tu Email">
                        <p id="emailError"></p>
                        <% if (locals.errors?.email) { %>
                            <p class="error">
                                <%= errors.email.msg %>
                            </p>
                            <% } %>
                                <input class="controls" type="password" name="password" placeholder="Contraseña">
                                <p id="passwordError"></p>
                                <% if (locals.errors?.password ? locals.errors.password.msg.includes('vacio') : false) {
                                    %>
                                    <p class="error">
                                        <%= errors.password.msg %>
                                    </p>
                                    <% } %>
                                        <label for="recordame" class="recordame">
                                            <input class="checkbox" name="rememberMe" type="checkbox"
                                                id="recordame">Recordame
                                        </label>
                                        <div class="olvidaste-tu-password">
                                            <p><a href="#"> ¿olvidaste tu contraseña? </a></p>
                                        </div>
                                        <button class="button" type="submit">Ingresar</button>

                    </form>

                </div>

            </main>
            <%- include('../partials/footer') %>
            <%- include('../partials/post-js-frontend',{archivo: 'loginValidations' }) %>

    </body>

</html>